.app {
  min-height: 100vh;
  background-color: #282c34;
  width: 100%;
  color: white;
}

.header {
  padding: 30px;
  text-align: center;
}

.content-row {
  display: flex;
  display: -webkit-flex;
  margin: 10px;
  padding: 20px;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 250px;
  border: 1px solid;
  box-shadow: 2px 6px 12px lightblue;
}

.field-row {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.display-error {
  display: flex;
  justify-content: center;
  color: red;
}

ul {
  text-align: left;
}

input[type=text] {
  padding:5px;
  margin:5px;
  border:2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 20px;
  width: 200px;
}
input[type=text]:focus {
  border-color:#333;
}

input[type=button] {
  padding:7px;
  margin:5px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 20px;
  width: 215px;
}

@media (max-width: 800px) {
  .content-row  {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
